.choice-group-section {
    display: flex;
    flex-direction: column;
    margin: 10px 5px;
    justify-content: left;
}
.choice-group-item {
    text-align: left;
}

.choice-group-heading {
    background: #F8F8FF;
    font-size: 18px;
    line-height: 60px;
    height: 60px;
    padding-left: 20px;
}
.form-check {
    display: inline !important;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.quantity-input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    border-top-color: #C7CDD7;
    border-top-style: solid;
    border-top-width: 1px;
}

.quantity-input-group span {
    font-size: 26px;
    margin: 0 10px;
}

.bottom-sticky-button {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 40px;
}

@media (max-device-width: 768px) {
    .bottom-sticky-button {
        width: 100%;
        height: 50px;
        position: fixed;
        bottom: 30px;
    }
}

@media (max-device-width: 480px) {
    .bottom-sticky-button {
        width: 100%;
        height: 50px;
        position: fixed;
        bottom: 30px;
    }
}