.item-top-section {
    margin: 3%;
    overflow: hidden;
}

.item-top-image > img {
    max-height: 250px;
    margin: 0-100%;
}

.item-top-details {
    display: flex;
    flex-direction: column;
    border-bottom-color: #C7CDD7;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin: 10px 5px;
}





