.item-top-section {
    margin: 3%;
    overflow: hidden;
}

.item-top-image > img {
    max-height: 250px;
    margin: 0-100%;
}

.item-top-details {
    display: flex;
    flex-direction: column;
    margin: 10px 5px;
}

@media (max-device-width: 768px) {
    .item-top-details {
        text-align: left;
    }
}

@media (max-device-width: 480px) {
    .item-top-details {
        text-align: left;
    }
}





