
nav .container {
    margin: 0 50px;
}

.navbar-nav {
    border-bottom-color:#C7CDD7;
    border-bottom-style:solid;
    border-bottom-width:2px;
}

li {
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 20px;
}

a {
    color: black !important;
}
a:hover {
    text-decoration: none !important;
}