
nav .container {
    margin: 0 50px;
    margin-bottom: 30px;
}

.navbar-nav {
    border-bottom-color:#C7CDD7;
    border-bottom-style:solid;
    border-bottom-width:2px;
}

li {
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 30px;
}

a {
    color: black !important;
}
a:hover {
    text-decoration: none !important;
}

@media (max-device-width: 480px) {
    nav .container {
        margin: 0 25px;
    }

    li {
        font-size: 14px;
    }
}