.cart-container {
    max-width: 100%;
    width: 40%;
    margin: 30px auto;
    text-align: center;
}

.cancel-button {
    margin-top: 2%;
    margin-left: 3%;
    border-radius: 50%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    top: 0;
    right: 5px;
    width: 30px;
    height: 30px;
}

.cart-header {
    margin-bottom: 20px;
}

.cart-item-section {
    display: table;
    width: 100%;
    text-align: center;
    margin: 10px 5px;
    border-collapse: collapse;
}

.cart-item-row {
    display: table-row;
}

.cart-item-currency {
    display: table-cell;
    width: 5%;
    font-size: 18px;
    text-align: right;
    padding-bottom: 30px;
    border-bottom: 1px solid#C7CDD7;
}

.cart-item-price {
    display: table-cell;
    width: 10%;
    font-size: 18px;
    text-align: left;
    padding-bottom: 30px;
    border-bottom: 1px solid#C7CDD7;
}

.remove-cart-item {
    display: table-cell;
    width: 10%;
    padding-bottom: 30px;
    border-bottom: 1px solid#C7CDD7;
}


@media (max-device-width: 768px) {
    .cart-container {
        width: 100%;
    }
    .cart-item-section {
        padding: 10px 10px;
    }
    .bottom-sticky-button {
        width: 100%;
        height: 50px;
        position: fixed;
        bottom: 30px;
    }
}