#menu-card .container-fluid {
    margin: 0 100px;
    padding-right: 0px;
}

.category-rows {
    margin-right: 0;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.category-header {
    text-align: left;
}

.item-card-box {
    display: flex;
    flex-wrap: wrap;
    padding-right: 0px;
    justify-items: left;
}

.item-card {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-color: #C7CDD7;
    border-style: solid;
    border-width: 1px;
    margin: 20px;
    margin-left: 0;
    padding: 10px 10px;
    width: 400px;
    height: 150px;
    text-align: left;
}

.item-card .item-desc {
    font-size: 14px;
}

@media (max-device-width: 768px) {
    #menu-card .container-fluid {
        margin: 45px;
    }

    .category-rows {
        margin: 10px 0;
        padding-right: 10px;
        width: 600px;
    }

    .category-header {
        font-size: 24px;
    }

    .item-card-box {
        flex-direction: column;
        flex-wrap: nowrap;
        position: relative;
    }

    .item-card {
        border-style:none;
        border-bottom-color: #C7CDD7;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        margin: 10px;
        margin-left: 0;
        padding: 5px;
        width: 100%;
        min-height: 100px;

    }

    .item-name {
        font-size: 18px;
    }

    .item-card p {
        padding-bottom: 0;
    }
}
 

@media (max-device-width: 480px) {
    #menu-card .container-fluid {
        margin: 25px;
    }

    .category-rows {
        margin: 5px 0;
        padding-right: 10px;
    }

    .category-header {
        font-size: 16px;
    }

    .item-card-box {
        flex-direction: column;
        flex-wrap: nowrap;
        position: relative;
    }

    .item-card {
        border-style:none;
        border-bottom-color: #C7CDD7;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        margin: 5px;
        margin-left: 0;
        padding: 5px;
        width: 100%;
        min-height: 120px;
        height: 120px;
    }

    .item-name {
        font-size: 12px;
    }

    .item-card .item-desc {
        font-size: 11px;
    }

    .item-card .item-price {
        font-size: 12px;
    }
}

