
.menu-card-container {
    margin: 30px 0;
    padding-right: 0px;
}

.category-rows {
    margin-right: 0;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.category-header {
    text-align: left;
}

.item-card-box {
    display: flex;
    flex-wrap: wrap;
    padding-right: 0px;
}

.item-card {
    display: flex;
    justify-content: space-between;
    border-color: #C7CDD7;
    border-style: solid;
    border-width: 1px;
    margin: 20px;
    margin-left: 0;
    padding: 10px;
    width: 400px;
    height: 180px;
    text-align: left;
}

.item-card-text {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 5px;
}

.item-image {
    min-width: 160px;
    align-items: center;
}

.item-image img {
    max-height: 100%;
    max-width: 100%;
    width: 160px;
    height: 180px;
    object-fit: cover;
}

.item-card .item-desc {
    font-size: 14px;
}

@media (max-device-width: 768px) {

    .category-rows {
        margin: 10px 0;
        padding-right: 10px;
    }

    .category-header {
        font-size: 24px;
    }

    .item-card-box {
        flex-direction: column;
        flex-wrap: nowrap; 
        position: relative;
    }

    .item-card {
        display: flex;
        justify-content: space-between;
        border-style:none;
        border-bottom-color: #C7CDD7;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        margin: 10px;
        margin-left: 0;
        padding: 0;
        height: 180px;
        min-width: 100%;
    }

    .item-card-text {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap; 
        padding-left: 0;
    }

    .item-image {
        min-width: 40%;
        padding-bottom: 15px;
        align-items: center;
    }

    .item-image img {
        max-height: 100%;
        max-width: 100%;
        object-fit: cover;
    }

    .item-name {
        font-size: 18px;
    }

    .item-card .item-desc {
        font-size: 16px;
    }

    .item-card .item-price {
        font-size: 18px;
    }
}
 

@media (max-device-width: 480px) {

    .category-rows {
        margin: 5px 0;
        padding-right: 10px;
    }

    .category-header {
        font-size: 18px;
    }

    .item-card-box {
        position: relative;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .item-card {
        display: flex;
        justify-content: space-between;
        border-style:none;
        border-bottom-color: #C7CDD7;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        margin: 5px;
        margin-left: 0;
        padding-right: 0;
        max-width: 100%;
        height: 150px;
    }

    .item-card-text {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-right: 5px;
    }

    .item-image {
        max-width: 40%;
        align-items: center;
    }

    .item-image img {
        max-height: 100%;
        max-width: 100%;
        object-fit: cover;
    }

    .item-name {
        font-size: 14px;
    }

    .item-card .item-desc {
        font-size: 12px;
    }

    .item-card .item-price {
        font-size: 14px;
    }
}

