.payment-details-wrapper {
    max-width: 100%;
    width: 40%;
    margin: 30px auto;
    text-align: center;
    position: relative;
}

.cancel-button {
    margin-left: 3%;
    border-radius: 50%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    top: 0;
    right: 5px;
    width: 30px;
    height: 30px;
}

.payment-bottom-sticky-button {
    width: 40%;
    height: 50px;
    position: fixed;
    bottom: 40px;
}

.payment-bottom-sticky-button .btn {
    text-align: center;
    align-items: center;
    width: 100%;
}

.payment-bottom-sticky-button .btn.btn-dark:disabled {
    background: rgba(214, 216, 217);
    border: none;
    opacity: 1 !important;
}
.payment-label {
    font-weight: bold;
    height: 30px;
    line-height: 30px;
}

@media (max-device-width: 768px) {
    .payment-details-wrapper {
        width: 100%;
    }
    .payment-bottom-sticky-button {
        width: 100%;
        height: 50px;
        position: fixed;
        bottom: 30px;
    }
    .payment-bottom-sticky-button .btn {
        left: auto;
        width: 100%;
    }
}