
.navbar-custom {
    background-color: white;
    position: sticky;
}

.navbar-nav {
    flex-wrap: nowrap !important;
    overflow-x: auto !important;
    white-space: nowrap !important;
    border-bottom-color:#C7CDD7;
    border-bottom-style:solid;
    border-bottom-width:2px;
}

li {
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 30px;
}

.cart-link {
    right: 1px;
    padding-bottom: 15px;
    margin-left: 5px;
}

.active a:after {
    border-bottom: 2px solid #5bc0eb;
    bottom: -10px;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
  }

a {
    color: black !important;
}
a:hover {
    text-decoration: none !important;
}

@media (max-device-width: 768px) {
    .navbar {
        position: sticky;
    }

    li {
        display: inline-block;
        float: none;
        font-size: 18px;
        padding-right: 20px;
    }

}

@media (max-device-width: 480px) {

    li {
        font-size: 14px;
        padding-right: 10px;
    }

}