#main-banner {
    position: relative;
    background: url("../../images/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 3%;
    padding-top: 14%;
    padding-bottom: 9%;     
}

.white-card {
    position: absolute;
    background-color: white;
    top: 25%;
    width: 30%;
    height: 50%
}