.below-banner-section {
    margin: 0 100px;
}

@media (max-device-width: 768px) {
    .below-banner-section {
        margin: 0 45px;
    }

    .menu-bottom-sticky-button {
        width: 100%;
        height: 50px;
        position: fixed;
        bottom: 30px; 
    }
}

@media (max-device-width: 480px) {
    .below-banner-section {
        margin: 0 15px;
    }
}